<div>
Your Balance: {{ current_balance_aud }}  AUD || Your Balance: {{ current_balance_gbp }}  GBP
</div>


#this is too complicated
have a finite number of options: 1 day, 1 week, 3 months, 1 season, 1 calendar year 
Prices in currency


Choose a currency


<form action="" method="post">
	{% csrf_token %}
		<table width="50%" border="0" cellspacing="0" cellpadding="5">			
			<tr>
				<td width="41%" align="right" valign="middle">Choose a Subscription:</td>
				<td width="59%" align="left" valign="middle">
					<select name="category1" id="category1">
			 		 	<option value="---">Please select an option</option>
						<option value="D">1 day </option>
						<option value="W">1 week</option>
						<option value="M">3 months</option>
						<option value="S">Season</option>
						<option value="Y">Calendar year</option>
					</select>
				</td>
			</tr>
					<div id="price">PRICE GOES HERE</div>
					<div class="padded" style="padding: 5px 10px;">
						<button padding="5px;" type="submit" class="btn btn-primary">Subscribe to this System</button>
 					</div>
				</td>
			</tr>
		</table>
	</form>