
 <div>

ODDS!!
Features to come: run comment (rpresults) function for background,
attributes for the system J/T/S/C from RPResults
link to raceid on RP site


    <table id="runnerstable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Racedate</th>
                <th>Racetime</th>
                <th>Racecoursename</th>
                <th>Horse</th>
                <th>No runners</th>
                <th>Position</th>
                <th>SP-Win</th>
                <th>Betfair-Win</th>
            </tr>
        </thead>
        <tbody>
        {%  for r in runners %}
        <tr>
            <td>{{ r.racedate }}</td>
            <td>{{ r.racetime }}</td>
            <td>{{ r.racecoursename }}</td>
            <td>{{ r.horsename }}</td>
            <td>{{ r.norunners }}</td>
            <td class="pos {% if r.finalpos == '1' %} win {% elif r.finalpos == '2' %} place {% else %}  {%  endif %}">{{r.finalpos  }}</td>
            <td>{{ r.winsp }}</td>
            <td>{{ r.bfsp }}</td>
        </tr>
        {%  endfor  %}
        </tbody>
    </table>
<br/>
</div>

<script type="javascript">

$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
