{% extends "investment/systembase.html" %}

{% block navbar-funds-active %}class=active{% endblock %}
{% load staticfiles %}
{% load guardian_tags %}
{% load humanize %}
 {% load as_percentage_of_filter %}
{% load render_table from django_tables2 %}
{% block extendedheader %}

<style>
    .good {
        color: #00C853;
    }

    .medium {
        color: #b1811d;
    }

    .bad {
        color: #db0435;
    }

    .pos.win {

        background-color: #00C853;
    }

    .pos.place {

        background-color: #4d90fe;
    }

    #category2 option{
    display:none;
    }

#category2 option.label{
    display:block;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
$(function(){

    var price = $("#price");

    var $cat = $("#category1"),
        $subcat = $("#category2");

    $cat.on("change",function(){
        var _rel = $(this).val();
        $subcat.find("option").attr("style","");
        $subcat.val("");
        if(!_rel) return $subcat.prop("disabled",true);
        $subcat.find("[rel="+_rel+"]").show();
        $subcat.prop("disabled",false);
    });

});
    $(document).ready(function(){
        $("#id_subscribe_form").attr("action", '{% url 'systems:subscribe_system' system.systemname %}');
    });

</script>

{% endblock %}

{% block content %}

        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="systempanel">


        <h1>{{ system.systemname }} - {{ system.systemtype }}
            - {{ system.isToLay|yesno:"laying,backing,unsure"  }}
            {{ system.isToWin|yesno:"to win ,to place ,unsure" }}
        </h1>
{#    {% if "view_system" in system_perms %}#}
{#        #show candidates#}
{#        #}
{#        {{ live_season2016 }}#}
{#        <div>#}
{#            DATA TABLES first Get the Data to Systems and filter by systemsnapshot dates - remove from systemsnapshot?#}
{#            {% for runner in system.runners.all %}#}
{#                <p>{{ runner.runtype }}</p>#}
{#                <p>{{ runner.racename }}</p>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <a href="#">permission specific data</a>#}
{##}
{#    {% endif %}#}

        Add 2012,2014, 2013 in greater detail here
        LINK TO CHARTS?

    <p> {{ system.description }} </p>

    <p>{{ system.exposure |default_if_none:"nothing" }}</p>

    <p>{{ system.rpquery |cut:"{}" }}</p>

    </div>


    {% get_obj_perms request.user for system as "system_perms" %}

   {% if "view_system" in system_perms %}


        {% include 'bets/todays_bets.html' with bets=bets %}


    {% endif %}


    <div id="2016">

        <div id="profit" class="{% if live_2016.levelbspprofit >= 50 %}good {% elif live_2016.levelbspprofit >= 20 %} medium {%  else %} bad {%  endif %}">
        Profit {{ live_2016.levelbspprofit|floatformat:2  }}
        </div>
            <div id="expected" class="{% if live_2016.expectedwins >= 10 %}good {% elif live_2016.expectedwins >= 5 %} medium {%  else %} bad {%  endif %}">
        Expected: {{  live_2016.expectedwins|floatformat:2  }}</div>
        <div id="chisq" class="{% if live_2016.archie_allruns >= 5.0 %}good {% elif live_2016.archie_allruns >= 3.0 %} medium {%  else %} bad {%  endif %}">
        Chi Squared {{ live_2016.archie_allruns|floatformat:2   }} </div>
    <div class="live">
        A/E {{ live_2016.a_e }}
        Wins/runs: {{ live_2016.bfwins }} / {{ live_2016.bfruns }} which is a win strike rate of {{live_2016.bfwins|as_percentage_of:live_2016.bfruns   }}

        </div>
        <div class="historical">

            </div>
        2013 stats
        2014 2015
        arhcie
        5% stakes plan current balance (100)
        10% stakes plan current_balance (100)

    </div>


    </div>




{% if runners|length > 0 %}
    {% include 'systems/runners_list.html' with runners=runners %}
{%  endif %}


{#  commented because file not found  #}
{#{% include 'systems/pastperformance.html' %}#}
    <div class="basic">
    {% if "view_system" in system_perms %}
        <h2>Already Subscribed - expires at : {{ expires }}</h2>
    {% else %}
	    {% include 'systems/_subscribe.html' %}
    {% endif %}
	</div>

{% endblock %}