{% extends "investment/systembase.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  block extendedheader %}
    <script type="text/css">

      td.isActive, th.isActive {
        display:none;
      }


    </script>

    {%  endblock %}

    {% block title %}Systems Update{% endblock %}

</head>
<body>
{% block content %}
    <h2>System Runners</h2>
    <ul>
	{% render_table table %}
    </ul>

{% endblock %}
</body>
</html>