{% extends "investment/systembase.html" %}

{% block navbar-funds-active %}class=active{% endblock %}
{% load staticfiles %}
{% load guardian_tags %}
{% load humanize %}

{% block extendedheader %}

<style>
#category2 option{
    display:none;
}

#category2 option.label{
    display:block;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
$(function(){

    var price = $("#price");

    var $cat = $("#category1"),
        $subcat = $("#category2");

    $cat.on("change",function(){
        var _rel = $(this).val();
        $subcat.find("option").attr("style","");
        $subcat.val("");
        if(!_rel) return $subcat.prop("disabled",true);
        $subcat.find("[rel="+_rel+"]").show();
        $subcat.prop("disabled",false);
    });

});
    $(document).ready(function(){
        $("#id_subscribe_form").attr("action", '{% url 'systems:subscribe_system' system.systemname %}');
    });

</script>

{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% get_obj_perms request.user for system as "system_perms" %}

    {% if "view_system" in system_perms %}

        {{ live_season2016 }}
        <div>
            DATA TABLES first Get the Data to Systems and filter by systemsnapshot dates - remove from systemsnapshot?
            {% for runner in system.runners.all %}
                <p>{{ runner.runtype }}</p>
                <p>{{ runner.racename }}</p>
            {% endfor %}
        </div>
        <a href="#">permission specific data</a>
        }
    {% endif %}



    <h1>{{ system.systemname }} - {{ system.systemtype }} </h1>

    <p> {{ system.description }} </p>


    <p>{{ system.exposure }}</p>
    <p>{{ system.query }}</p>
    <p>{{ system.rpquery }}</p>
    <p>{{ system.isLayWin }}</p>
    <p>{{ system.isLayPlace }}</p>
    <p>{{ system.oddsconditions }}</p>
    <p>{{ system.premium }}</p>



{% include 'systems/2016.html' %}

{#  commented because file not found  #}
{#{% include 'systems/pastperformance.html' %}#}

	<div class="basic">
	{% include 'systems/_subscribe.html' %}  

	</div>

{% endblock %}